/* Style inputs */
input[type=text], select {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Style the submit button */
input[type=Submit] {
  width: 60%;
  background-color: #27ae60;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Add a background color to the submit button on mouse-over */
input[type=Submit]:hover {
  background-color: #27ae60;
}

/* Style the submit button */
input[type=Cencel] {
  width: 60%;
  background-color: #e74c3c;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Add a background color to the submit button on mouse-over */
input[type=Cencel]:hover {
  background-color: #e74c3c;
}

